* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* common styles here */
.btn-primary {
    color: #FFFFFF;
    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

/* header styles here */
header {
    width: 100%;
    height: 669px;
    background-image: url("../images/donation1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 130px;
}

.header {
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    width: 100%;
    height: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.header-description {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

/* donate section styles */
.donate-section {
    margin-bottom: 130px;
}

.donate-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
    text-align: center;
}

.donate-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 50px;
    text-align: center;
}

.amounts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.amount {
    color: #707070;
    background-color:
        #FAFAFA;
}

.amount-common {
    border-radius: 5px;
    padding: 44px 25px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.special-amount {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

.other-amount {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
}

.amount-info {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #B3B3B3;
    margin-bottom: 10px;
}

.amount-btn {
    text-align: center;
}

/* donate plan styles */
.section-donate-plan {
    margin-bottom: 130px;
}

.donate-items {
    display: flex;
    gap: 24px;
}

.donate-item {
    padding: 54px 24px;
    border-radius: 5px;
}

.donate-item img {
    margin-bottom: 30px;
}

.item-title {
    margin-bottom: 16px;
}

.food {
    background-color:
        rgba(79, 157, 166, 0.1);

}

.shelter {
    background-color: rgba(255, 89, 89, 0.1);
    ;
}

.education {
    background: rgba(255, 244, 214, 1);

}

/* donatation contributes part */
.donatation-contribute-container {
    display: flex;
    gap: 83px;
    margin-bottom: 100px;
}

.donatation-details {
    display: flex;
    align-items: center;
}

.donatation-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}

.donatation-desc {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 20px;
}

.donatation-desc2 {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}

.donatation-contribute-container img {
    width: 655px;
    height: 477px;
    border-radius: 5px;
}

.donatation-contribute-container-2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 83px;
    margin-bottom: 130px;
}

.donatation-contribute-container-2 img {
    width: 655px;
    height: 477px;
    border-radius: 5px;
}

/* update container styles here */
.update-container {
    text-align: center;
    margin-bottom: 130px;
}

.form-container {
    background-color: #FFF4D6;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.update-container form input[type="email"] {
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: 0;
    padding: 12px 30px 12px 12px;
}

.update-container form input[type="submit"] {
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    padding: 12px 30px;
    color: #FAFAFA;
    margin-left: -6px;
}

/* footer styles */
footer {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0B0D17;
}

footer h2 {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
    font-family: 'Lobster', cursive;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}